{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-bottom:100px;">
<form method="POST" class="border border-3 border-primary">
    {% csrf_token %}
    <div class="mb-3">
  <label class="form-label">Username</label>
  <input type="text" class="form-control" name="username" placeholder="Enter username">
</div>
     <div class="mb-3">
  <label  class="form-label">Password</label>
  <input type="password" class="form-control" name="password" placeholder="Enter password">
</div>

 <div class="mb-3">
  <input type="submit" value="Login">
</div>

</form>
    {% if messages %}
    {% for i in messages %}
    <ul class="message">
        <li>{{i}}</li>


    </ul>
     {% endfor %}
    {% endif %}
</div>
{% endblock %}